@model SalonTrack.ViewModels.IncomeListViewModel
@{
    ViewData["Title"] = "Gəlirlər Siyahısı";
    int pageNumber = int.Parse(ViewData["Page"].ToString());
    var j = 0;
    var i = 1;
    int k = 1;
}

<div class="mb-3">
    <strong>Ümumi Gəlir:</strong>
    <span class="highlight-total">@Model.Total ₼</span>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped align-middle shadow">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>İşçi</th>
                <th>Məbləğ (₼)</th>
                <th>Tarix</th>
                <th>Əməliyyat</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Incomes != null && Model.Incomes.Any())
            {
                
                foreach (var item in Model.Incomes)
                {
                    j=(pageNumber-1)*10+k;
                    <tr>
                        <td>@j</td>
                        <td>@item.User?.UserName</td>
                        <td>@item.Amount</td>
                        <td>@item.Date.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a href="/Income/Edit/@item.Id" class="btn btn-sm btn-warning">✏️ Dəyiş</a>
                            <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete(@item.Id)">❌ Sil</button>
                        </td>
                    </tr>
                    k++;
                    
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center text-danger">
                        Heç bir məlumat tapılmadı.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination -->
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @for ( i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?page=@i&userId=@Model.SelectedUserId&startDate=@Model.StartDate?.ToString("yyyy-MM-dd")&endDate=@Model.EndDate?.ToString("yyyy-MM-dd")">@i</a>
                </li>
            }
        </ul>
    </nav>
}
